@charset "utf-8";

/*!  
*   SECTION STYLE - application
*/

.section.app {
  position: relative;
  height: 986px;
  font-size: 18px; // [!] init.
  background-color: #10a8c2;

  & > .grid {
    position: relative;
  }

  .section-title {
    padding-top: 7.667em; //18px => 138px

    h2 {
      height: 68px;
      @include text-hidden;
      background-image: url(#{$path-image}title-app.svg);
      background-repeat: no-repeat;
    }
    .title-small {
      display: none;
    }
  } //end of .section-title

  .app-info {
    margin-top: 4em;

    li {
      color: #fff;
      font-size: 1em;
      margin-top: 0.94em;

      &:first-child {
        margin-top: 0;
      }
    }

  } //end of .app-info

  .app-image {
    position: absolute;
    top: 246px;
    right: 0;
    width: 630px;
    height: 467px;
    background-image: url(#{$path-image}img-app.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }



  .bg-app { // 그리드 밖에 있음
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    height: 1268px;
    background-image: url(#{$path-image}bg-app.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }


} //end of .section.app