@charset "utf-8";

/*!  
*   SECTION STYLE - Engine
*/

.section.engine{
  position: relative;
  height: 380px;
  font-size: 18px; // [!] init.

  & > .grid {
    position: relative;
    top: 0;
    top: -13.8em;

  }
  
  .section-title {

    h2 {
      height: 68px;
      @include text-hidden;
      background-image: url(#{$path-image}title-engine.svg);
      background-repeat: no-repeat;
    }
    .title-small {
      display: none;
    }
  } //end of .section-title

  .engine-info {
    @include flexbox;
    @include justify-content(space-between);
    margin-top: 48px;
    
    li {
      @include flexbox;
      @include align-items(center);
      @include flex-direction(column);
      position: relative;
      padding-top: 236px;
      flex-basis: 240px;
      word-break: keep-all;
      word-wrap: break-word;

      &:before {
        position: absolute;
        top: 0;
        display: block;
        width: 180px;
        height: 180px;
        content: '';
      }

      @for $i from 1 through 4 { //background image
        &:nth-child(#{$i}){
          &:before {
            background-image: url(#{$path-image}deco-engine-#{$i}.png);
          }  
        }
      }

      &:nth-child(1) {
        @include align-items(flex-start);
        .info-title,
        .info-desc {
          width: 210px;
        }
      }
      &:nth-child(2){
        flex-basis: 270px;
        .info-title,
        .info-desc {
          width: 194px;
        }
      }
      &:nth-child(3) {
        flex-basis: 270px;
        .info-title,
        .info-desc {
          width: 188px;
        }
      }
      &:nth-child(4) {
        @include align-items(flex-end);
        .info-title,
        .info-desc {
          width: 182px;
        }
      }

    }

    .info-title {
      display: block;
      font-size: 1.1em;
      font-weight: 800;
    }
    .info-desc {
      margin-top: 1em;
      font-size: 0.833em;
      line-height: 150%;
    }
  }

}