@charset "utf-8";

/*!  
*   FOOTER STYLE
*/

.footer {
  height: 116px;
  background-color: #21bbd5;
  border-top: 1px solid #7ad6e6;

  // ==============
  // === 반응형 ====
  @include tablet-lg {
    height: 88px;
  }
  @include tablet {
    height: 65px;
  }
  // ==============

  .copyright {
    color: #074d77;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 110px;

    // ==============
    // === 반응형 ====
    @include tablet-lg {
      font-size: 13px;
      line-height: 94px;
    }
    @include tablet {
      font-size: 12px;
      line-height: 66px;
    }
    @include mobile {
      font-size: 11px;
    }
    // ==============
  }
}