@charset "utf-8";

/*!  
*   HEADER STYLE
*/

// 변수 //
$header-pedding: 50px;
$header-height-ta: 70px;
////////

.header {
  z-index: $zindex-important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(255,255,255,0.45);
  
  &.sticky {
    position: fixed;
    top: -80px;
    transition: margin .5s;
  }

  .nav-bg {
    z-index: 5hamburg0;
    position: fixed;
    top: -50px;
    right: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: scale(0);
    transition: transform .55s cubic-bezier(0.39, 0.575, 0.565, 1);
    background-color: #fff;
  }

  &.opened {

    .header-container {
        pointer-events: initial !important;
        user-select: initial !important;
        opacity: 1;
        transition: opacity .4s .25s;
    }


    .nav-bg {
        transform: scale(50);
        transition: transform .9s cubic-bezier(0.39, 0.575, 0.565, 1);
    }

    .gnb {
        visibility: visible !important;
        z-index: 100 !important;
        pointer-events: initial !important;
        user-select: initial !important;

        &:after {
            display: block;
        }
    }

    
    .hamburger {
        .burger-icon span {
            background-color: #565d61;
            transition: background-color .3s, transform .3s;

            &:first-child {
                transform: rotate(-45deg);
                top: 2px;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
                top: 0;
            }
            &:nth-child(3) {
                transform: translate(-12px);
                opacity: 0;
            }
        }
    }

  }

  @include tablet-lg {
      position: fixed !important;
      top: 0px !important;
      height: $header-height-ta;
  }

  & > .grid {
    position: relative;
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start); //수정될 수 있을 듯
    max-width: 1920px;
    padding: 0 50px;
  }

  .header-logo {
    width: 80px;
    height: 19px;
    @include text-hidden;
    background-repeat: no-repeat;
    background-image: url(#{$path-image}logo.svg);
    background-size: 100% 100%;
    cursor: pointer;

    @include tablet-lg {
      display: none;
    }
  }

  @include tablet-lg {
    background-color: transparent;
  }

  .header-container {
    overflow: auto;
    display: block;
    margin-left: 98px;

    // === 반응형 ===
    @include tablet-lg {
      opacity: 0;
      z-index: 10;
      @include flex-direction(column);
      @include justify-content(flex-start);
      position: absolute;
      top: $header-height-ta;
      left: 0;
      right: initial;
      width: 100%;
      height: 80vh;
      margin-left: 0;
      padding: 0 20%;
      box-sizing: border-box;
      transition: opacity .4s .25s;
      pointer-events: none;
      user-select: none;
    }
    @include tablet {
        min-height: 0px;
    }
    @include mobile {
        padding: 0 46px;
        top: $header-height-ta;
    }

  [class^=nav-] {
    cursor: pointer;

    // ::-moz-selection { 
    //     background-color: transparent !important;
    // }
    
    // ::selection {
    //     background-color: transparent !important;
    // }
  }

  .nav-menu {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02rem;
    color: #444;
    transition: color .3s;
    cursor: pointer;

    &:hover,
    &:active {
      color: #10a8c2;
    }

    @include tablet-lg {
        font-size: 26px;
    }
    @include tablet {
        // font-size: 22px;
        font-size: 5vw;
    }
    @include mobile {
        // font-size: 20px;
    }
  }

} //end of .header-container

.header-bg {
  display: none;
  transition: background-color 2ms;

    @include tablet-lg {
        display: block;
        z-index: 15;
        position: relative;
        width: 100%;
        height: $header-height-ta;
    }

}//end of .header-bg

.gnb {
  position: relative;
  @include flexbox;
  @include align-items(center);


  &:after {
      display: none;
      position: fixed;
      bottom: 8vw;
      color: #aaa;
      font-size: 12px;
      content: attr(data-footer);
  }

  // === 반응형 ===
  @include tablet-lg {
    @include flex-direction(column);
    margin-top: 80px;
    margin-bottom: 80px;
   
    visibility: hidden;
    z-index: -100;
    pointer-events: none;
    user-select: none;
  }

    @include mobile {
        margin-top: 12vw;
    }

    [class^=nav-] {
      margin-left: 45px;

      a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 6px 0;
      }

      @include pc-sm {
          margin-left: 32px;
      }
      @include tablet-lg {
          margin-left: 0;
          margin-top: 42px;
          width: 100%;
          text-align: center;
      }
      @include mobile {
          margin-top: 8vw;
      }

      &:first-child {
        margin-left: 0;
        margin-top: 0;
      }
    }
  }//end of .gnb


  .hamburger {
    z-index: 100;
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background: none;
    border: none;
    outline: 0;

    @include tablet-lg {
        display: block;
    }

    &:focus {
        outline: 0;
    }

    &:hover > .burger-icon span {
        background-color: #565d61;
    }

    & > .burger-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        span {
            position: relative;
            display: block;
            width: 24px;
            height: 3px;
            transition: transform .2s;
            //background-color: #fff;
            background-color: #333;
            transition: background-color .3s, transform .3s;
            // transition: all 18s;

            &:first-child {
                top: -4px;
            }
            &:nth-child(3) {
                opacity: 1;
                top: 4px;
                //width: 10px;
                //margin-left: 12px;
            }
          }
        }
      }//end of .hamburger

    //   .nav-line {
    //     @include flexbox;
    //     z-index: 5;
    //     position: absolute;
    //     top: 0;
    //     width: 100%;
    //     height: 100vh;

    //     .line {
    //         display: block;
    //         width: 20%;
    //         height: 100%;
    //         border-left: 1px solid #ebebeb;
    //         box-sizing: border-box;

    //         &:last-child {
    //             border-right: 1px solid #ebebeb;
    //         }
    //     }
    //   }

}//end of .header