@charset "utf-8";

/*!  
*   SECTION STYLE - Member
*/


.section.member {
  position: relative;
  overflow-x: hidden;
  background-color: #f7f7f7;

  & > .grid {
    position: relative;
    max-width: 1240px;
    padding-top: 70px;
    margin-bottom: 230px;
    font-size: 16px;
    @include flexbox;

    // ==============
    // === 반응형 ====
    @include pc-md {
      max-width: 960px;
    }
    @include tablet-lg {
      font-size: 15px;
      padding-top: 50px;
      margin-bottom: 170px;
    }

    @include tablet {
      margin-bottom: 220px;
    }

    @include mobile-lg {
      padding-top: 70px;
    }
    // ==============
  


  .section-title {
    margin-bottom: 30px;

    h2 {
      width: 160px;
      height: 38px;
      @include text-hidden;
      background-image: url(#{$path-image}title-member.svg);
      background-repeat: no-repeat;

      // ==============
      // === 반응형 ====
        @include tablet {
          width: 160px;
          height: 33px;
        }
        @include mobile {
        }
      // ==============
    }
    .title-small {
      margin-top: 1.2em;
      margin-bottom: 4.62em;
      font-size: 16px;

      // ==============
      // === 반응형 ====
        @include tablet {
          font-size: 14px;
          margin-bottom: 50px;
          margin-top: 15px;
        }
      // ==============
    }

  } //end of .section-title


  .container {
    @include flex-basis(50%);

    @include tablet-lg {
      @include flex-basis(100%);
    }

  } //end of .container

  .member-info-list {
    display: inline-block;
    font-weight: 600;
    font-size: 1em;
    width: 202px;
    padding-left: 12px;
    margin-bottom: 3.7em;
    border-left: 2px solid #32c0d8;
    box-sizing: border-box;

    @include tablet-lg {
      width: 182px;
      margin-bottom: 40px;
    }
    @include mobile {
      width: 164px;
    }

    dl {
      margin-top: 0.6em;

      &:first-child {
        margin-top: 0;
      }
    }

    .member-info-title {
      display: inline-block;
      color: #45568c;

      &:after {
        content: '.';
      }
    }
    .member-info-text {
      display: inline-block;
      color: #7f7f7f;
    }



    &.info-advisor {
      display: block;
      margin-bottom: 0;

      .member-info-title {

        &:after {
          display: none;
        }
      }
      .member-info-text {
        display: block;
        margin-top: 0.6em;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  } //.member-info-list

  

  .bg-member { 
    @include flex-basis(52%);
    background-image: url(#{$path-image}deco-member.png);
    background-size: 480px 304px;
    background-position: 0% 20px;
    background-repeat: no-repeat;

    // ==============
    // === 반응형 ====
      @include pc-sm {
        background-size: 100% auto;
        background-position: 50% 50%;
      }
      @include tablet-lg {
        position: absolute;
        right: 20px;
        bottom: 0;
        width: 400px;
        height: 253px;
      }
      @include tablet {
        bottom: -120px;
      }
      @include mobile-lg {
        width: 360px;
        height: 228px;
        bottom: -140px;
      }
      @include mobile {
        width: 290px;
        height: 184px;
        bottom: -160px;
      }
      @include mobile-sm {
        width: 270px;
        height: 171px;
        bottom: -180px;
        left: 50%;
        transform: translateX(-50%);
      }
    // ==============
  }
  }
}