@charset "utf-8";

/*!  
*   SECTION STYLE - tokenSale
*/


.section.tokenSale {
  position: relative;
  overflow-x: hidden;
  background-color: #10a8c2;

  & > .grid {
    max-width: 1240px;
    padding-top: 140px;
    padding-bottom: 120px;
    font-size: 16px;

    // ==============
    // === 반응형 ====
    @include tablet-lg {
      font-size: 16px;
    }

    @include tablet {
      font-size: 15px;
    }

    @include mobile {
      font-size: 12px;
    }
    // ==============
  }


  .section-title {
    margin-bottom: 30px;

    h2 {
      width: 213px;
      height: 34px;
      @include text-hidden;
      background-image: url(#{$path-image}title-tokenSale.svg);
      background-repeat: no-repeat;

      // ==============
      // === 반응형 ====
        @include tablet {
          width: 103px;
          height: 30px;
        }
        @include mobile {
          width: 96px;
          height: 28px;
        }
      // ==============
    }
    .title-small {
      margin-top: 1.2em;
      margin-bottom: 4.62em;
      font-size: 16px;

      // ==============
      // === 반응형 ====
        @include tablet {
          font-size: 14px;
        }
        @include mobile {
          //font-size: 13px;
        }
      // ==============
    }

  } //end of .section-title

  .tokenSale-info {
    position: relative;
    width: 976px;
    margin: 0 auto;
  }

  .tokenSale-image {
    width: 545px;
    height: 423px;
    overflow: hidden;
    background-image: url(#{$path-image}img-tokenSale-1.png);
    background-size: 100%;
    text-indent: -9999px;
    background-repeat: no-repeat;
  }
  .tokenSale-image-2 {
    position: absolute;
    top: 135px;
    right: 0;
    width: 500px;
    height: 91px;
    background-image: url(#{$path-image}img-tokenSale-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

}