@charset "utf-8";

/*!  
*   VISUAL STYLE
*/

.section.visual {
  position: relative;
  width: 100%;
  height: 980px;
  @include horizontal-gradient(#31d6f2, #10a8c2);


  & > .gird {
    position: relative;
  }
  .deco-visual {
    position: absolute;
    left: 50%;
    top: 126px;
    width: 891px;
    height: 760px;
    margin-left: 62px;
    transform: translateX(-50%);
    background-image: url(#{$path-image}deco-visual.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .container {
    position: absolute;
    left: 50%;
    bottom: 106px;
    transform: translateX(-50%);
  }

  .visual-logo {
    display: none;
  }

  .visual-logo-svg {
    overflow: visible;
    width: 524px;
    height: 113px;

    .st0 {
      will-change: transform;
      transform: translateZ(0);
      transition: transform 30s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55) //easeInOutBack
    }
  }

  .title-small { //"support decentral ar world"
    width: 504px;
    height: 39px;
    margin-top: 16px;
    margin-bottom: 36px;
    background-image: url(#{$path-image}title-visual.svg);
    background-size: 100%;
    background-repeat: no-repeat;

  }

  .visual-form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    width: 530px;

    label {
      display: none;
    }

    .form-email {
      position: relative;
      width: 100%;
      height: 70px;
      font-size: 20px;
      color: #0c8094;
      font-weight: 600;
      padding-left: 32px;
      padding-right: 180px;
      border-radius: 35px;
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid #0dc8e8;
      transition: background-color .3s;

      &:focus,
      &:valid {
        outline: 0;
        // background-color: rgba(174, 243, 255, 0.9);
        // transition: background-color .3s;

        & + .form-button {
          background-color: #fff;
          transition: background-color .3s;
        }
      }
    }

    .form-button {
      z-index: 1;
      position: absolute;
      top: 8px;
      right: 12px;
      width: 54px;
      height: 54px;
      font-size: 18px;
      border-radius: 35px;
      background-color: #99e5f2;
      background-image: url(#{$path-image}icon-subscribe.svg);
      background-repeat: no-repeat;
      background-size: 31px 24px;
      background-position: 50% 14px;
      cursor: pointer;
      transition: background-color .3s;

      &:hover,
      &:focus {
        outline: 0;
        background-color: #fff;
        transition: background-color .3s;
      }
    }

    // ================= //
    // placeholder style //
    // ================= //


    .form-email {

      $placeholder-size: 17px;
      $placeholder-color: #0c8094;
      $placeholder-transition: color .3s, opacity .3s;

      @mixin placeholder {
        font-size: $placeholder-size;
        color: $placeholder-color;
        transition: $placeholder-transition;
        //font-weight: 400;
        letter-spacing: 0;
      }

      &::-webkit-input-placeholder { 
          @include placeholder;

          ///// 미디어쿼리 /////
          @include pc-sm {
            font-size: 18px;
          }
          @include tablet-lg {
            font-size: 16px;
          }
      }
      &:-ms-input-placeholder {
          @include placeholder;
          ///// 미디어쿼리 /////
          @include pc-sm {
            font-size: 18px;
          }
          @include tablet-lg {
            font-size: 16px;
          }
      }
      &:-moz-placeholder {
        opacity: 1;
        @include placeholder;
          ///// 미디어쿼리 /////
          @include pc-sm {
            font-size: 18px;
          }
          @include tablet-lg {
            font-size: 16px;
          }
      }
      &::-moz-placeholder {
        opacity: 1;
        @include placeholder;
          ///// 미디어쿼리 /////
          @include pc-sm {
            font-size: 18px;
          }
          @include tablet-lg {
            font-size: 16px;
          }
      }
      
      &:focus::-webkit-input-placeholder {
        color: transparent;
        transition: $placeholder-transition;
          ///// 미디어쿼리 /////
          @include pc-sm {
            font-size: 18px;
          }
          @include tablet-lg {
            font-size: 16px;
          }
      }
      &:focus:-ms-input-placeholder {
        color: transparent;
        transition: $placeholder-transition;
          ///// 미디어쿼리 /////
          @include pc-sm {
            font-size: 18px;
          }
          @include tablet-lg {
            font-size: 16px;
          }
      }
      &:focus:-moz-placeholder {
        color: transparent;
        opacity: 0;
        transition: $placeholder-transition;
          ///// 미디어쿼리 /////
          @include pc-sm {
            font-size: 18px;
          }
          @include tablet-lg {
            font-size: 16px;
          }
      }
      &:focus::-moz-placeholder {
        color: transparent;
        opacity: 0;
        transition: $placeholder-transition;
          ///// 미디어쿼리 /////
          @include pc-sm {
            font-size: 18px;
          }
          @include tablet-lg {
            font-size: 16px;
          }
      }
    }

  }


}

$time: 2.5s;

.path_g {
  @include animation($time, visualTxt_up);
}
.path_e {
  @include animation($time, visualTxt_down);
}
.path_a_2 {
  @include animation($time, visualTxt_up);
}
.path_r_2 {
  @include animation($time, visualTxt_down);
}
 
 