@charset "utf-8";


$visualTxtVal: 13px;

@include keyframes(visualTxt_up){
  50% {
    transform: translateY(-#{$visualTxtVal});
  }
}
@include keyframes(visualTxt_down){
  50% {
    transform: translateY(#{$visualTxtVal});
  }
}