@charset "utf-8";


$visualTxtVal: 13px;

@include keyframes(visualTxt_up){
  50% {
    transform: translateY(-#{$visualTxtVal});
  }
}
@include keyframes(visualTxt_down){
  50% {
    transform: translateY(#{$visualTxtVal});
  }
}



@keyframes checked-anim {
  50% {
      width: 3000px;
      height: 3000px;
  }
  100% {
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}
@keyframes not-checked-anim {
  0% {
      width: 3000px;
      height: 3000px;
  }
}
